.exercise-details{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.exercise-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.activity-btn{
    font-size: 2rem;
    background-color: cornflowerblue;
    color: #fff;
    padding: 16px 35px;
    border: none;
    border-radius: 13px;
    
}
.break-btn-div{
    background-color: #fff;
    padding: 10px;
    border-radius: 13px;
    display: flex;
    justify-content: space-evenly;
}
.break-btn{
    padding: 10px;
    border-radius: 100%;
    font-size: medium;
    border: none;
    cursor: pointer;
}