.card-container{
    height: 450px;
    width: 300px;
    background-color: #dfe6e9;
    border-radius: 10px;
    position: relative;
    font-family: 'Poppins', sans-serif;

}
.card-container img{
    width: 100%;
    border-radius: 10px;

}
.card{
    padding: 10px;
}
.btn{
    background-color: #d63031;
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
}