.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.exercise{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 10%;
}

@media only screen and (max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .exercise{
        grid-template-columns: 1fr;
    }
}